#grid {
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: column;
    align-self: center;
}

.row {
    display: flex;
    flex: 1;
}

.square {
    border: 1px solid black;
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
}